<!DOCTYPE html>

<!-- 
  Submission page.
-->
<!-- The nav bar that will be updated as we navigate between views.-->

<ion-view title="Terry Scholarship Application 2015/2016">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon-round" ng-click="toggleRight()"></button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader">
        <h1 class="title">Confirm Sumission</h1>
    </ion-header-bar>
    <ion-content>

        <div class="list card">

            <div class="item">
                <h2>Terry Scholarship 2015 Application for {{user.firstName}} {{user.lastName}}</h2>
                <p>Submission Date {{'' | currentdate}}</p>
            </div>

            <li class="item item-checkbox item-text-wrap">
                <label class="checkbox">
                    <input type="checkbox" ng-model="myVariables.confirm">
                </label>
                <p>By checking this box, I CERTIFY THAT I HAVE READ AND UNDERSTAND THE PRECEEDING PAGE and that the information I am providing is complete and correct to the best of my knowledge. If my application is accepted, I agree to abide by the policies, rules, and regulations of the Terry Foundation. I authorize the University of Houston and/or the Terry Foundation to verify the information I have provided. I further understand that this information will be relied upon by the Terry Foundation in determining my financial eligibility and that the submission of false information is grounds for rejection of my application, and/or withdrawal of an offer of scholarship.
                </p>
            </li>
            
            <div ng-show="myVariables.confirm" class="item tabs tabs-secondary tabs-icon-left">
                <button class="button button-icon icon ion-thumbsup" ng-click="confirmation()">Submit</button>
               <!-- <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Print Application
                </a>-->
            </div>
        </div>


    </ion-content>
</ion-view>