<!DOCTYPE html>
<ion-view title="Terry Scholarship Application 2015/2016">

    <!-- The nav bar that will be updated as we navigate between views.-->
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon-round" ng-click="toggleRight()"></button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader">
        <h1 class="title">Employment, Activities, Service and Awards</h1>
    </ion-header-bar>
    <ion-content>
            <p class="item item-icon-left item-text-wrap"> <i class="icon ion-information"></i>
                Fill all sections provided. Use the "Add" button in each section to add individual items. Do not submit a resume in lieu of completing sections listed here. <b>Important:</b> If you are a recruited athlete, DO NOT include any information about your athletic participation or achievements on this application.
            </p>
            
        <div class="item item-button-left dark">
            Employment, Internships, and Summer Activities
            <button title="Add employment" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddData('employment')"></button>
        </div>

        <div class="list list-inset">
            <div class="item" ng-repeat="item in myemployments" item="item">
                <button title="Delete" class="button icon ion-minus-circled button-clear button-dark" ng-click="deleteData('employment', item.id)"></button>
                <button title="Edit" class="button button-icon icon ion-compose" ng-click="editData('employment', item)">&nbsp;&nbsp;&nbsp;&nbsp;{{item.position}} {{item.employer}} {{item.hours}} hours  Date: {{item.date_from}} - {{item.date_to}}</button>
            </div>
        </div>
            
        <div class="item item-button-left dark">
            Extracurricular Activities and Leadership Positions
            <button title="Add activities" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddData('activity')"></button>
        </div>

        <div class="list list-inset">
            <div class="item" ng-repeat="item in myactivities" item="item">
                <button title="Delete" class="button icon ion-minus-circled button-clear button-dark" ng-click="deleteData('activity', item.id)"></button>
                <button title="Edit" class="button button-icon icon ion-compose" ng-click="editData('activity', item)">&nbsp;&nbsp;&nbsp;&nbsp;{{item.activity}} as {{item.position}} {{item.description}}</button>
            </div>
        </div>    
            
        <div class="item item-button-left dark">
            Community or Volunteer Service
            <button title="Add activities" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddData('volunteer')"></button>
        </div>

        <div class="list list-inset">
            <div class="item" ng-repeat="item in myvolunteers" item="item">
                <button title="Delete" class="button icon ion-minus-circled button-clear button-dark" ng-click="deleteData('volunteer', item.id)"></button>
                <button title="Edit" class="button button-icon icon ion-compose" ng-click="editData('volunteer', item)">&nbsp;&nbsp;&nbsp;&nbsp;{{item.place}} {{item.description}} {{item.hours_week}} Hours per week/{{item.hours_total}} Hours total Date: {{item.date_from}}-{{item.date_to}}</button>
            </div>
        </div> 
            
        <div class="item item-button-left dark">
            Awards, Special Honors, and Distinctions
            <button title="Add activities" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddData('award')"></button>
        </div>

        <div class="list list-inset">
            <div class="item" ng-repeat="item in myawards" item="item">
                <button title="Delete" class="button icon ion-minus-circled button-clear button-dark" ng-click="deleteData('award', item.id)"></button>
                <button title="Edit" class="button button-icon icon ion-compose" ng-click="editData('award', item)">&nbsp;&nbsp;&nbsp;&nbsp;
                    Award: {{item.award}} {{item.description}} Level: {{item.level}} </button>
            </div>
        </div> 

        <!-- Next button -->
        <div class="row">
            <div class="col col-25 col-offset-75">
                <a type="button" class="button button-block button-positive" ui-sref="tabs.myapplication.college_plans">Next</a>
            </div>
        </div>
    </ion-content>
</ion-view>