<!DOCTYPE html>
<!-- 
  Essay upload page page.
-->
<ion-view title="Terry Scholarship Application 2015/2016">

    <!-- The nav bar that will be updated as we navigate between views.-->
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon-round" ng-click="toggleRight()"></button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader">
        <h1 class="title">Essays</h1>
    </ion-header-bar>
    <ion-content>
        <p class="item item-icon-left item-text-wrap"> <i class="icon ion-information"></i>
            For <u>BOTH</u> of the topics listed below, attach a typed essay of 250 words (minimum) in PDF or MS Word format. Your full name and UH ID should appear legibly at the top of each page of your essays.
        </p>
        <ion-list>
            <ion-item class="item item-divider">
                Essay I: Significant Event and its Impact
            </ion-item>
            <div class="row">
                <div class="col col-75 item-text-wrap">
                    Describe a significant setback, challenge or opportunity in your life and the impact that it has had on you.
                </div>
                <div class="col col-25" ng-show="!myVariables.fileEssay1">
                    <label for="file1" class="item item-icon-right fileContainer">
                        <i class="icon ion-filing"></i>
                        Upload Essay I
                        <input id="file1" type="file" ng-file-select="onFileSelect($files, 'essay1')" onclick="this.value=null" accept="application/pdf, .doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                    </label>
                </div>
                <div class="col col-25" ng-hide="!myVariables.fileEssay1">
                    <button class="button icon-right ion-minus-circled button-outline button-dark" ng-click="deleteFile('essay1')">Delete File</button>
                </div>
            </div>
            <div class="row" ng-show="myVariables.fileEssay1">
                <div class="col col-25 col-offset-75">
                    Uploaded File:

                </div>
            </div>
            <div class="row" ng-show="myVariables.fileEssay1">
                <div class="col col-25 col-offset-75 item-text-wrap">
                    "{{myVariables.fileEssay1}}"
                </div>
            </div>
            <div class="row" ng-hide="myVariables.fileEssay1">
                <div class="col col-25 col-offset-75 item-text-wrap">
                    No file uploaded.
                </div>
            </div>

            <ion-item class="item item-divider">
                Essay II: Leadership Experience
            </ion-item>


            <div class="row">

                <div class="col col-75 item-text-wrap">

                    Describe an example of your leadership. Be sure to describe your actions and the actions of those around you and to explain what you accomplished.
                </div>
                <div class="col col-25" ng-show="!myVariables.fileEssay2">
                    <label for="file2" class="item item-icon-right fileContainer">
                        <i class="icon ion-filing"></i>
                        Upload Essay II
                        <input id="file2" type="file" ng-file-select="onFileSelect($files, 'essay2')" onclick="this.value=null" accept="application/pdf, .doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                    </label>
                </div>
                <div class="col col-25" ng-hide="!myVariables.fileEssay2">
                    <button class="button icon-right ion-minus-circled button-outline button-dark" ng-click="deleteFile('essay2')">Delete File</button>
                </div>
            </div>

            <div class="row" ng-show="myVariables.fileEssay2">
                <div class="col col-25 col-offset-75">
                    Uploaded File:
                </div>
            </div>
            <div class="row" ng-show="myVariables.fileEssay2">
                <div class="col col-25 col-offset-75 item-text-wrap">
                    "{{myVariables.fileEssay2}}"
                </div>
            </div>
            <div class="row" ng-hide="myVariables.fileEssay2">
                <div class="col col-25 col-offset-75 item-text-wrap">
                    No file uploaded.
                </div>
            </div>


        </ion-list>

        <div class="item" ng-show="selectedFiles != null">
            <div class="sel-file" ng-repeat="f in selectedFiles">
                <label>Progress for file upload:</label>
                <span class="progress" ng-show="progress[$index] >= 0">						
					<div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
				</span>	
                <button class="button button-small button-positive" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Cancel Upload</button>
                {{f.name}} - size: {{f.size}}B
            </div>
        </div>

        <!-- Next button -->
        <div class="row">
            <div class="col col-25 col-offset-75">
                <a type="button" class="button button-block button-positive" ui-sref="tabs.myapplication.submit">Next</a>
            </div>
        </div>
    </ion-content>
</ion-view>