<!DOCTYPE html>
<ion-view title="Terry Scholarship Application 2015/2016">

    <!-- The nav bar that will be updated as we navigate between views.-->
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon-round" ng-click="toggleRight()"></button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader">
        <h1 class="title">Financial Information</h1>
    </ion-header-bar>
    <ion-content>
        <p class="item item-icon-left item-text-wrap"> <i class="icon ion-information"></i>
            To be considered for a Terry Foundation Scholarship, applicants must file a completed Free Application for Federal Student Aid (FAFSA) with the U.S. Department of Education and indicate the University of Houston (school code: 003652) as a report recipient. FAFSA forms can be submitted on-line after January 1st at <a href="http://www.fafsa.ed.gov/" target="_blank">www.fafsa.ed.gov
      
    </a>. You must file your FAFSA no later than February 28th. You must complete the FAFSA or your application cannot be processed.
            <br>Please complete all questions or your application cannot be considered. Financial information may be subject to verification from tax returns or other sources.
        </p>

        <form class="submit" novalidate on-valid-submit="save('tabs.myapplication.scholarship_information')">

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Your marital status:</span> 
                        <input name="marital_status" type="text" ng-model="myapplication.marital_status" placeholder="status">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Your parents' marital status:</span> 
                        <input name="marital_status_parents" type="text" ng-model="myapplication.marital_status_parents" placeholder="status">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Your total annual income:</span>
                        <input name="total_annual_income" type="text" ng-model="myapplication.total_annual_income" placeholder="total annual income" ng-currency/>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">You presently live with (name & relationship):</span> 
                        <input name="present_partner" type="text" ng-model="myapplication.present_partner" placeholder="present live with">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Father’s occupation:</span> 
                        <input name="father_occupation" type="text" ng-model="myapplication.father_occupation" placeholder="occupation">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Step Parent’s occupation:</span> 
                        <input name="stepparent_occupation" type="text" ng-model="myapplication.stepparent_occupation" placeholder="occupation">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Father’s employer:</span> 
                        <input name="father_employer" type="text" ng-model="myapplication.father_employer" placeholder="employer">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Step Parent’s employer:</span> 
                        <input name="stepparent_employer" type="text" ng-model="myapplication.stepparent_employer" placeholder="employer">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Father’s total annual income:</span> 
                        <input name="father_total_income" type="text" ng-model="myapplication.father_total_income" placeholder="income in dollar" ng-currency>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Step Parent’s total annual income:</span> 
                        <input name="stepparent_total_income" type="text" ng-model="myapplication.stepparent_total_income" placeholder="income in dollar" ng-currency>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Father’s age:</span> 
                        <input name="father_age" type="number" ng-model="myapplication.father_age" placeholder="age in years">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Step Parent’s age:</span> 
                        <input name="stepparent_age" type="number" ng-model="myapplication.stepparent_age" placeholder="age in years">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Highest level of education achieved:</span> 
                        <input name="father_level_education" type="text" ng-model="myapplication.father_level_education" placeholder="level of education">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Highest level of education achieved:</span> 
                        <input name="stepparent_level_education" type="text" ng-model="myapplication.stepparent_level_education" placeholder="level of education">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Mother’s occupation:</span> 
                        <input name="mother_occupation" type="text" ng-model="myapplication.mother_occupation" placeholder="occupation">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Guardian’s occupation:</span> 
                        <input name="guardian_occupation" type="text" ng-model="myapplication.guardian_occupation" placeholder="occupation">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Mother’s employer:</span> 
                        <input name="mother_employer" type="text" ng-model="myapplication.mother_employer" placeholder="employer">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Guardian’s employer:</span> 
                        <input name="guardian_employer" type="text" ng-model="myapplication.guardian_employer" placeholder="employer">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Mother’s total annual income:</span> 
                        <input name="mother_total_income" type="text" ng-model="myapplication.mother_total_income" placeholder="income in dollar" ng-currency>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Guardian’s total annual income:</span> 
                        <input name="guardian_total_income" type="text" ng-model="myapplication.guardian_total_income" placeholder="income in dollar" ng-currency>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Mother’s age:</span> 
                        <input name="mother_age" type="number" ng-model="myapplication.mother_age" placeholder="age in years">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Guardian’s age:</span> 
                        <input name="guardian_age" type="number" ng-model="myapplication.guardian_age" placeholder="age in years">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Highest level of education achieved:</span> 
                        <input name="mother_level_education" type="text" ng-model="myapplication.mother_level_education" placeholder="level of education">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Highest level of education achieved:</span> 
                        <input name="guardian_level_education" type="text" ng-model="myapplication.guardian_level_education" placeholder="level of education">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item">
                        <span class="input-label">Has your family’s income for 2014 remained the same as 2013? </span> 
                        <div>
                            <ion-radio name="income_same" ng-model="myapplication.income_same" ng-value="'Yes'">Yes</ion-radio>
                            <ion-radio name="income_same" ng-model="myapplication.income_same" ng-value="'No'">No</ion-radio>
                        </div>
                    </label>
                </div>
                <div class="col item-text-wrap">
                    <label class="item">
                        <span>Are you receiving financial assistance (such as Social Security disability) from any local or federal government entity?</span> 

                        <div>
                            <ion-radio name="financial_assistance" ng-model="myapplication.financial_assistance" ng-value="'Yes'">Yes</ion-radio>
                            <ion-radio name="financial_assistance" ng-model="myapplication.financial_assistance" ng-value="'No'">No</ion-radio>
                        </div>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="item item-input item-stacked-label" ng-hide="myapplication.income_same">
                        <span>If “NO”, by what amount (approximate) has it changed?<br>  </span>
                        <label class="plain-item item-stacked-label">
                            <span>Increased:</span>
                            <input name="increased" type="text" ng-model="myapplication.increased" placeholder="amount in dollars" ng-currency>
                        </label>
                        <label class=" plain-item item-stacked-label">
                            <span>Decreased:</span>
                            <input name="decreased" type="text" ng-model="myapplication.decreased" placeholder="amount in dollars" ng-currency>
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="item item-input item-stacked-label" ng-show="myapplication.financial_assistance">
                        <span style="white-space:normal;">If “YES”, please indicate the type of assistance and amount received per month: </span>
                        <label class="plain-item item-stacked-label">
                            <span>Type:</span>
                            <input name="assistance_type" type="text" ng-model="myapplication.assistance_type" placeholder="type">
                        </label>
                        <label class="plain-item item-stacked-label">
                            <span>Amount:</span>
                            <input name="assistance_amount" type="text" ng-model="myapplication.assistance_amount" placeholder="amount in dollars" ng-currency>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span style="white-space:normal;">Number of family members attending college during the 2015-2016 academic year (include yourself):</span> 
                        <input name="family_attending_college" type="number" ng-model="myapplication.family_attending_college" placeholder="#number">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p><b>The following questions will help to estimate your financial need.  Please complete all questions or your application cannot be considered.  </b>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Funds for college saved by you:</span> 
                        <input name="funds_saved_you" type="text" ng-model="myapplication.funds_saved_you" placeholder="amount in dollars" ng-currency>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Funds for college saved by others:</span> 
                        <input name="funds_saved_others" type="text" ng-model="myapplication.funds_saved_others" placeholder="amount in dollars" ng-currency>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Your parents’ or guardians’ total cash savings (not limited to college):</span> 
                        <input name="total_savings" type="text" ng-model="myapplication.total_savings" placeholder="amount in dollars" ng-currency>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Value of your parents’ or guardians’ other investments (<b>NOT</b> including home):</span> 
                        <input name="total_investments" type="text" ng-model="myapplication.total_investments" placeholder="amount in dollars" ng-currency>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Net value of your parents’ or guardians’ businesses, farms and/or ranches:</span> 
                        <input name="net_value" type="text" ng-model="myapplication.net_value" placeholder="amount in dollars" ng-currency>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Parents’/Guardians’ Adjusted Gross Income for 2014 (line 37 on Form 1040; line 21 on form 1040A):</span> 
                        <input name="adjusted_cross_income" type="text" ng-model="myapplication.adjusted_cross_income" placeholder="amount in dollars" ng-currency>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Projected parental support (annual):</span> 
                        <input name="projected_support" type="text" ng-model="myapplication.projected_support" placeholder="amount in dollars" ng-currency>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Please describe any special circumstances that affect your family’s ability to fund your college expenses:</span>
                        <textarea name="description_special_circumstances" rows="3" ng-model="myapplication.description_special_circumstances" placeholder="description"></textarea>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col col-75">

                    <label class="item item-input">
                        <span class="input-label">Do you have a Texas Tomorrow Fund or 529 college savings plan?</span>
                        <ion-radio name="texas_tomorrow_fund" ng-model="myapplication.texas_tomorrow_fund" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="texas_tomorrow_fund" ng-model="myapplication.texas_tomorrow_fund" ng-value="'false'">No</ion-radio>
                    </label>
                </div>

                <div class="col" ng-show="myapplication.texas_tomorrow_fund">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">  If so, what is the plan’s value?</span> 
                        <input name="texas_tomorrow_fund" type="text" ng-model="myapplication.texas_tomorrow_fund_value" placeholder="description">
                    </label>
                </div>
            </div>


            <p class="item item-icon-left item-text-wrap"> <i class="icon ion-information"></i>
                Please provide the specified information for all children under 25 years of age in your family. <b>Do not include yourself or your parents.</b>
            </p>

            <div class="item item-button-left dark">
                List Children
                <button type="button" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddModal('child')"></button>
            </div>

            <div class="list list-inset">
                <div class="item" ng-repeat="item in mychildren" item="item">
                    <button type="button" title="Delete" class="button icon ion-minus-circled button-clear button-dark" ng-click="deleteData('child', item.id)"></button>
                    <button type="button" title="Edit" class="button button-icon icon ion-compose" ng-click="editData('child', item)">&nbsp;&nbsp;&nbsp;&nbsp;{{item.name}} {{item.age}} {{item.relationship}} {{item.school}} {{item.year}} {{item.self_supporting}}</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Do you have a sibling who is a current/past Terry Scholar or who is applying for a Terry Scholarship?  If so, please give name(s) and institution(s):  </span> 
                        <input name="sibling_terry" type="text" ng-model="myapplication.sibling_terry" placeholder="description">
                    </label>
                </div>
            </div>

            <!-- Submit/Next button -->
            <div class="row">
                <div class="col col-25 col-offset-75">
                    <button type="submit" class="button button-block button-positive">Next</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>