<!DOCTYPE html>
<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{myVariables.current_mode}} Activities</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
            <p class="item item-icon-left item-text-wrap">
                <i class="icon ion-information"></i>
                <b>In order of importance to you</b>, list up to six major awards, honors, or distinctions that you received both in and out of school during grades 9-12.
            </p>
            <form novalidate class="submit" on-valid-submit="saveModal('award')">
            
                <div class="row">
                    <div class="col">
                        <label class="item item-input validated">
                            <span class="input-label">Award/Distinction/Honor:</span>
                            <input name="award" ng-model="myaward.award" type="text" placeholder="award">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="item item-input validated">
                            <span class="input-label">Description or Basis for <br>Award or Sponsor of Award:</span>
                            <input name="description" ng-model="myaward.description" type="text" placeholder="description">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="item item-input validated">
                            <span class="input-label">Level of Competition <br>[regional, state etc.]:</span>
                            <input name="level" ng-model="myaward.level" type="text" placeholder="level">
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="item item-divider">Year(s) Received</div>
                        <ion-checkbox ng-repeat="item in yearInSchoolList"
                                ng-model="item.checked" 
                                ng-checked="item.checked">
                                {{ item.text }}
                        </ion-checkbox>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-25 col-offset-75">
                        <button class="button button-full button-positive" type="submit">Save</button>
                    </div>
                </div>
        </form>
    </ion-content>
</ion-modal-view>