<!DOCTYPE html>
<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{myVariables.current_mode}} Employment</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>

    <ion-content>
        <form novalidate class="submit" on-valid-submit="saveModal('employment')">

                <p class="item item-icon-left item-text-wrap"> <i class="icon ion-information"></i>
                    List <b>all</b> of your previous and current jobs or internships. <b>List your most recent activities first.</b>
                </p>

                <div class="row">
                    <div class="col">
                        <label class="item item-input validated">
                            <span class="input-label">Position/Job Title:</span>
                            <input name="position" ng-model="myemployment.position" type="text" placeholder="title" required>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="item item-input validated">
                            <span class="input-label">Employer:</span>
                            <input name="employer" ng-model="myemployment.employer" type="text" placeholder="employer" required>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="item item-input validated">
                            <span class="input-label">Hours:</span>
                            <input name="hours" ng-model="myemployment.hours" type="number" placeholder="hours" required>
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input  validated" ng-click="openDatePicker('Employment Start Date', 'date_from')">
                            <span class="input-label">From Date:</span>
                            <input type="text" ng-model="myemployment.date_from" placeholder="Select" required>
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input  validated" ng-click="openDatePicker('Employment End Date', 'date_to')">
                            <span class="input-label">To Date:</span>
                            <input type="text" ng-model="myemployment.date_to" placeholder="Select" required>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-25 col-offset-75">
                        <button class="button button-full button-positive" type="submit">Save</button>
                    </div>
                </div>
            </form>
    </ion-content>
</ion-modal-view>