<!DOCTYPE html>
<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{myVariables.current_mode}} Service</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
        
            <p class="item item-icon-left item-text-wrap">
                <i class="icon ion-information"></i>Describe your role in the organization, the type of organization you were associated with, how many hours of service you devoted each week, and when you participated in each activity. <b>List your most recent service first.</b>
        </p>
            
            <form novalidate class="submit" on-valid-submit="saveModal('volunteer')">
            <div class="row">
                <div class="col">
                    <label class="item item-input validated">
                        <span class="input-label">Place of Service:</span>
                        <input name="place" ng-model="myvolunteer.place" type="text" placeholder="place" required>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input validated">
                        <span class="input-label">Description of Service:</span>
                        <input name="description" ng-model="myvolunteer.description" type="text" placeholder="description" required>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <span class="input-label">Hours per Week:</span>
                        <input name="hours_week" ng-model="myvolunteer.hours_week" type="number" placeholder="hours">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input validated">
                        <span class="input-label">Total Hours:</span>
                        <input name="hours_total" ng-model="myvolunteer.hours_total" type="number" placeholder="hours">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item item-input" ng-click="openDatePicker('Volunteer Start Date', 'date_from')">
                        <span class="input-label">From Date:</span>
                        <input type="text" ng-model="myvolunteer.date_from" placeholder="Select">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input" ng-click="openDatePicker('Volunteer End Date', 'date_to')">
                        <span class="input-label">To Date:</span>
                        <input type="text" ng-model="myvolunteer.date_to" placeholder="Select">
                    </label>
                </div>
            </div>
            <div class="row">
                    <div class="col col-25 col-offset-75">
                        <button class="button button-full button-positive" type="submit">Save</button>
                    </div>
                </div>
        </form>
    </ion-content>
</ion-modal-view>