<!DOCTYPE html>
<!-- 
  Registration page.
-->
<ion-view title="Register for the Terry Application System">
    <ion-content padding="true">
       <form name="registerform" ng-submit="registerUser()">

            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" ng-model="register.username" placeholder="email">
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="register.firstName" placeholder="First Name">
                </label>

                <label class="item item-input">
                    <input type="text" ng-model="register.lastName" placeholder="Last Name">
                </label>

                <label class="item item-input">
                    <input type="password" ng-model="register.password" placeholder="Password">
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Submit</button>
            </div>
        </form>
    </ion-content>
</ion-view>