<!DOCTYPE html>
<ion-view title="Terry Scholarship Application 2015/2016">

    <!-- The nav bar that will be updated as we navigate between views.-->
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon-round" ng-click="toggleRight()"></button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader">
        <h1 class="title">University Scholarship Information</h1>
    </ion-header-bar>
    <ion-content>

        <p class="item item-icon-left item-text-wrap"> <i class="icon ion-information"></i>
            All entering freshmen admitted to the University of Houston are automatically considered for the University-Funded Scholarships for Freshman (<a href="http://www.uh.edu/financial/undergraduate/types-aid/scholarships/" target="_blank">http://www.uh.edu/financial/undergraduate/types-aid/scholarships/</a>).</p>

        <form novalidate class="submit" on-valid-submit="save('tabs.myapplication.essays')">
            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Please indicate any college or departmental scholarships specific to your intended major for which you are applying:</span>
                        <textarea name="award" ng-model="myapplication.department_scholarship" rows="3" placeholder="college/departmental scholarships"></textarea>
                    </label>
                </div>
            </div>

            <div class="item item-button-left dark">
                List other scholarships for which you have <u>applied</u> for the 2015-2016 academic year
                <button type="button" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddModal('scholarship', true)"></button>
            </div>

            <div class="list list-inset">
                <div class="item" ng-repeat="item in myscholarships | filter: {applied_received:'true'}" item="item">
                    <button type="button" title="Delete" class="button icon ion-minus-circled button-clear button-dark" ng-click="deleteData('scholarship', item.id)"></button>
                    <button type="button" title="Edit" class="button button-icon icon ion-compose" ng-click="editData('scholarship', item)">&nbsp;&nbsp;&nbsp;&nbsp;Name: {{item.name}} {{item.duration}} Amount: {{item.amount}}</button>
                </div>
            </div>
            
            <div class="item item-button-left dark">
                List other scholarships or grants you will <u>receive</u> for the 2015-2016 academic year
                <button type="button" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddModal('scholarship', false)"></button>
            </div>

            <div class="list list-inset">
                <div class="item" ng-repeat="item in myscholarships | filter: {applied_received:'false'}" item="item">
                    <button type="button" title="Delete" class="button icon ion-minus-circled button-clear button-dark" ng-click="deleteData('scholarship', item.id)"></button>
                    <button type="button" title="Edit" class="button button-icon icon ion-compose" ng-click="editData('scholarship', item)">&nbsp;&nbsp;&nbsp;&nbsp;Name: {{item.name}} {{item.duration}} Amount: {{item.amount}}</button>
                </div>
            </div>

            <!-- Submit/Next button -->
            <div class="row">
                <div class="col col-25 col-offset-75">
                    <button class="button button-full button-positive" type="submit">Next</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>