<!DOCTYPE html>
<ion-view title="Terry Scholarship Application 2015/2016">

    <!-- The nav bar that will be updated as we navigate between views.-->
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon-round" ng-click="toggleRight()"></button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader">
        <h1 class="title">Student Information</h1>
    </ion-header-bar>
    <ion-content>

        <p class="item item-icon-left"> <i class="icon ion-information"></i>
            Fill out each section of the application form completely, taking care to respond to each question in the space provided.
        </p>
        <form name="student_information" novalidate class="submit" on-valid-submit="save('tabs.myapplication.highschool_information')">

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">

                        <span id="lesspace" class="input-label">Last Name:</span>
                        <span style="color: red;">*</span>

                        <input name="last_name" type="text" ng-model="myapplication.last_name" placeholder="Lastname" ng-required="finalSubmit">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span id="lesspace" class="input-label">First Name:</span> 
                        <span style="color: red;">*</span>

                        <input type="text" ng-model="myapplication.first_name" placeholder="Firstname" ng-required="finalSubmit">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label"> <span class="input-label">Middle Name:</span> 
                        <input type="text" ng-model="myapplication.middle_name" placeholder="Middlename">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span id="lesspace" class="input-label">Preferred Name:</span> 
                        <input name="preferred_name" type="text" ng-model="myapplication.preferred_name" placeholder="Preferredname">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span id="lesspace" class="input-label">UH ID:</span> 
                        <span style="color: red;">*</span>
                        
                        <input name="uh_id" type="number" ng-model="myapplication.uh_id" placeholder="0123456" ng-required="finalSubmit">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span id="lesspace" class="input-label">SSN:</span> 
                        <span style="color: red;">*</span>
                        
                        <input name="ssn" type="text" ng-model="myapplication.ssn" ui-mask="{{'999-99-9999'}}" ng-required="finalSubmit">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span id="lesspace" class="input-label">Permanent Address:</span> 
                        <span style="color: red;">*</span>
                        
                        <input type="text" ng-model="myapplication.permanent_address" placeholder="Streetaddress" ng-ng-required="finalSubmit">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span id="lesspace" class="input-label">City:</span> 
                        <span style="color: red;">*</span>
                        
                        <input type="text" ng-model="myapplication.city" placeholder="City" ng-required="finalSubmit">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-select">
                        <span id="lesspace" class="input-label">State:</span>
                        <span style="color: red;">*</span>
                        
                        <select ng-model="myVariables.myState" ng-options="state.name for state in states">
                        </select>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span id="lesspace" class="input-label">Zip Code:</span> 
                        <span style="color: red;">*</span>
                        
                        <input type="text" ng-model="myapplication.zip_code" ui-mask="{{'99999'}}">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span id="lesspace" class="input-label">County:</span> 
                        <span style="color: red;">*</span>
                        
                        <input type="text" ng-model="myapplication.county" placeholder="County" ng-required="finalSubmit">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span id="lesspace" class="input-label">Home Phone:</span>
                        <span style="color: red;">*</span>
                        
                        <input ng-model="myapplication.home_phone" ui-mask="{{'(999) 999-9999'}}" type="text" ng-required="finalSubmit" />
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span class="input-label">Alternate/Cell Phone:</span>
                        <input ng-model="myapplication.alt_cell_phone" ui-mask="{{'(999) 999-9999'}}" type="text" ng-required="finalSubmit" />
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label validated" ng-click="openDatePicker('Date of Birth', 'dob')">
                        <span id="lesspace" class="input-label">Date of Birth:</span> 
                        <span style="color: red;">*</span>
                        
                        <input type="text" ng-model="myapplication.dob" placeholder="Select">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input">
                        <span id="lesspace" class="input-label">Gender:</span>
                        <span style="color: red;">*</span>
                        
                        <ion-radio name="gender" ng-model="myapplication.gender" ng-value="'Female'">Female</ion-radio>
                        <ion-radio name="gender" ng-model="myapplication.gender" ng-value="'Male'">Male</ion-radio>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input validated">
                        <span id="lesspace" class="input-label">Email Address:</span> 
                        <span style="color: red;">*</span>
                        
                        <input name="email" type="email" ng-model="myapplication.email" placeholder="email address" ng-required="finalSubmit">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <span id="lesspace" class="input-label">U.S. Citizen:</span>
                        <span style="color: red;">*</span>
                        
                        <ion-radio name="citizen" ng-model="myapplication.citizen" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="citizen" ng-model="myapplication.citizen" ng-value="'false'">No</ion-radio>
                    </label>
                </div>

                <div class="col" ng-hide="myapplication.citizen">
                    <label class="item item-input"> <span class="input-label">Permanent Resident:</span>
                        
                        
                        <ion-radio name="permanent_resident" ng-model="myapplication.permanent_resident" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="permanent_resident" ng-model="myapplication.permanent_resident" ng-value="'false'">No</ion-radio>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col" ng-show="myapplication.permanent_resident">
                    <label class="item item-input"> <span class="input-label">Permanent Resident Type of Card:</span>
                        <ion-radio name="permanent_resident_card" ng-model="myapplication.permanent_resident_card" ng-value="'true'">1551</ion-radio>
                        <ion-radio name="permanent_resident_card" ng-model="myapplication.permanent_resident_card" ng-value="'false'">1551C</ion-radio>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input">
                        <span id="lesspace" class="input-label">Texas Resident:</span>
                        <span style="color: red;">*</span>
                        
                        <ion-radio name="texas_resident" ng-model="myapplication.texas_resident" ng-value="'true'">Yes</ion-radio>
                        <ion-radio name="texas_resident" ng-model="myapplication.texas_resident" ng-value="'false'">No</ion-radio>
                    </label>

                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span id="lesspace" class="input-label">Birthplace:</span> 
                        <span style="color: red;">*</span>
                        
                        <input type="text" ng-model="myapplication.birthplace" placeholder="birthplace" ng-required="finalSubmit">
                    </label>
                </div>

            </div>

            <div class="row">
                <div class="col">
                    <label class="item item-input item-stacked-label">
                        <span id="lesspace" class="input-label">Ethnic Background:</span> 
                        <span style="color: red;">*</span>
                        
                        <input type="text" ng-model="myapplication.ethnic_background" placeholder="How do you describe yourself?" ng-required="finalSubmit">
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-stacked-label validated">
                        <span id="lesspace" class="input-label">Anticipated College Major:</span> 
                        <span style="color: red;">*</span>
                        
                        <input type="text" ng-model="myapplication.anticipated_major" placeholder="Major" ng-required="finalSubmit">
                    </label>
                </div>
            </div>
            <!-- Next/Save button -->
            <div class="row">
                <div class="col col-25 col-offset-75">
                    <button type="submit" class="button button-block button-positive">Next</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>