<!DOCTYPE html>

<!-- 
  Submission page.
-->
<!-- The nav bar that will be updated as we navigate between views.-->

<ion-view title="Terry Scholarship Application 2015/2016">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon-round" ng-click="toggleRight()"></button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader">
        <h1 class="title">Submit Your Application</h1>
    </ion-header-bar>
    <ion-content>

        <div class="item item-divider">APPLICATION DEADLINES</div>
        <p class="item item-icon-left item-text-wrap"> <i class="icon ion-information"></i>
            You must complete this area prior to submitting your Terry application.
        </p>
        <form name="submitform" novalidate class="submit" on-valid-submit="check()">

            <div class="row">

                <div class="col col-25 item item-text-wrap">
                    <h2>Application Component</h2> 
                </div>
                <div class="col item item-text-wrap">
                    <h2>Deadline</h2> 
                </div>
                <div class="col item item-text-wrap">
                    <h2>Method of application</h2> (online or US mail)
                </div>
                <div class="col item item-text-wrap">
                    <h2>Date Submitted</h2> 
                </div>
                <div class="col item item-text-wrap">
                    <h2>If not, anticipated date of submission</h2> 
                </div>
            </div>
            <div class="row">
                <div class="col col-25 item item-text-wrap">
                    <p>Apply and be accepted to the University of Houston</p>
                </div>
                <div class="col item item-text-wrap">
                    <p> <b>No later than February 7th. </b> 
                    </p>
                </div>
                <div class="col item item-select">
                    <select ng-model="myVariables.myuhappMailOption" ng-options="option.name for option in mail_options">
                    </select>
                </div>
                <div class="col item">
                    <label class="item-input" ng-click="openDatePicker('Submission Date','app_uh_date_sub')">
                        <span class="input-label">Date:</span>
                        <input type="text" ng-model="myapplication.app_uh_date_sub" placeholder="Select">
                    </label>
                </div>
                <div class="col item">
                    <label class="item-input" ng-click="openDatePicker('Anticipated Submission Date','app_uh_date_int_sub')">
                        <span class="input-label">Date:</span>
                        <input type="text" ng-model="myapplication.app_uh_date_int_sub" placeholder="Select">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col col-25 item item-text-wrap">
                    <p>Submit your completed Terry application, essays and letters of recommendation. Include a sealed official copy of your high school transcript in addition to any transcript sent to UH or The Honors College</p>
                </div>
                <div class="col item item-text-wrap">
                    <p> <b>No later than February 7th;</b> all applications sent by mail must be <b>postmarked no later than February 6th.  </b>
                    </p>
                </div>
                <div class="col item item-select">
                    <select ng-model="myVariables.mytranscriptMailOption" ng-options="option.name for option in mail_options">
                    </select>
                </div>
                <div class="col item">
                    <label class="item-input" ng-click="openDatePicker('Submission Date','transcript_date_sub')">
                        <span class="input-label">Date:</span>
                        <input type="text" ng-model="myapplication.transcript_date_sub" placeholder="Select">
                    </label>
                </div>
                <div class="col item">
                    <label class="item-input" ng-click="openDatePicker('Anticipated Submission Date','transcript_date_int_sub')">
                        <span class="input-label">Date:</span>
                        <input type="text" ng-model="myapplication.transcript_date_int_sub" placeholder="Select">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col col-25 item item-text-wrap">
                    <p>File a FAFSA, either on-line or via US mail <a href="http://www.fafsa.ed.gov/ " target="_blank">http://www.fafsa.ed.gov/ </a>
                    </p>
                </div>
                <div class="col item item-text-wrap">
                    <p> <b>Between January 1st and February 28th. </b> 
                    </p>
                </div>
                <div class="col item item-select">
                    <select ng-model="myVariables.myfafsaMailOption" ng-options="option.name for option in mail_options">
                    </select>
                </div>
                <div class="col item">
                    <label class="item-input" ng-click="openDatePicker('Submission Date','fafsa_date_sub')">
                        <span class="input-label">Date:</span>
                        <input type="text" ng-model="myapplication.fafsa_date_sub" placeholder="Select">
                    </label>
                </div>
                <div class="col item">
                    <label class="item-input" ng-click="openDatePicker('Anticipated Submission Date','fafsa_date_int_sub')">
                        <span class="input-label">Date:</span>
                        <input type="text" ng-model="myapplication.fafsa_date_int_sub" placeholder="Select">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col col-25 item item-text-wrap">
                    <p>Apply for on-campus housing at <a href="http://www.housing.uh.edu/" target="_blank">http://www.housing.uh.edu/</a>. On-campus housing for Terry Scholars is defined as Honors housing in Cougar Village</p>
                </div>
                <div class="col item item-text-wrap">
                    <p> <b>Between March 1st and 15th.   </b>
                    </p>
                </div>
                <div class="col item item-select">
                    <select ng-model="myVariables.myhousingMailOption" ng-options="option.name for option in mail_options">
                    </select>
                </div>
                <div class="col item">
                    <label class="item-input" ng-click="openDatePicker('Submission Date','housing_date_sub')">
                        <span class="input-label">Date:</span>
                        <input type="text" ng-model="myapplication.housing_date_sub" placeholder="Select">
                    </label>
                </div>
                <div class="col item">
                    <label class="item-input" ng-click="openDatePicker('Anticipated Submission Date','housing_date_int_sub')">
                        <span class="input-label">Date:</span>
                        <input type="text" ng-model="myapplication.housing_date_int_sub" placeholder="Select">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col col-25 col-offset-75">
                    <button class="button button-full button-positive" type="submit">Check Application</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>