<!DOCTYPE html>
<ion-view title="My Application">
    <ion-content>
        <button class="button button-icon icon ion-minus-circled" ng-click="deleteApplication()" ng-show="myapplications">&nbsp;&nbsp;Delete Application</button>
        <button class="button button-icon icon ion-plus-circled" ng-click="modal.show()" ng-hide="myapplications">&nbsp;&nbsp;Create Application</button>


        <ion-list show-delete="data.showDelete">
            <ion-item class="item item-thumbnail-left" ng-repeat="myapplication in myapplications" >
               <img src="img/edit_green.png">
                <a ng-show="myapplication.allowEdit" style="color: grey">
                    <h2>Terry Application 2015</h2>
                    <p>{{myapplication.first_name}} {{myapplication.last_name}} <b>Status:</b> {{myapplication.status}}</p>
                </a>
                <a ng-hide="myapplication.allowEdit" ui-sref="tabs.myapplication.student_information({ applicationId: myapplication.id })">
                    
                        

                        <h2>Terry Application 2015</h2>
                        <p>{{myapplication.first_name}} {{myapplication.last_name}} <b>Status:</b> {{myapplication.status}}</p>
                </a>

                </ion-item>




        </ion-list>
    </ion-content>
</ion-view>
