<!DOCTYPE html>
<ion-view title="Guidelines for University of Houston Nominees">
    <!-- The nav bar -->
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
            Back
        </ion-nav-back-button>
    </ion-nav-bar>
    
    <ion-content padding="true">             
        <h3>Qualifications</h3>
        <p>To be considered for the Terry Foundation Scholarship, students must demonstrate the following:</p>
            
        <div id="list">
            <ul >
                <li>financial need;</li>
                <li>a record of leadership in school and community;</li>
                <li>strong academic abilities, as evidenced by grades and SAT scores;</li>
                <li>be a 2014 graduate from a Texas high school or Texas homeschool, or <br>(a) be a child of a U.S. military service member who is a permanent resident of the state of Texas and who is stationed outside the U.S., and <br>(b) be a graduate of high school at the location outside the U.S. where the parents are permanently stationed;</li>
                <li>admission to the University of Houston as a full-time student for 2014-2015;</li>
                <li>reside on campus for the first year;</li>
                <li>be unmarried and without children;</li>
                <li>be a U.S. citizen or Permanent Resident of the United States.</li>
</ul>
                

</div>

       
    </ion-content>
</ion-view>