<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"	
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans.xsd
	 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		 
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
		
		<import resource="webSecurityConfig.xml" />
 
	<context:component-scan base-package="dash.*" />
 
	<!-- ************ JPA configuration *********** -->
	<tx:annotation-driven transaction-manager="transactionManager" />  
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
       
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceXmlLocation" value="classpath:config/persistence-dash.xml" />
        <property name="persistenceUnitName" value="dashPersistence" />        
        <property name="dataSource" ref="dashDS" />
        <property name="packagesToScan" value="dash.*" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="false" />
                <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
            </bean>
        </property>
    </bean>
    
    <bean id="activityDao" class="dash.dao.ActivityDaoJPA2Impl"/>	
    <bean id="activityService" class="dash.service.ActivityServiceDbAccessImpl" />	
    <bean id="activityResource" class="dash.pojo.ActivityResource" />
    
    <bean id="applicationDao" class="dash.dao.ApplicationDaoJPA2Impl"/>	
    <bean id="applicationService" class="dash.service.ApplicationServiceDbAccessImpl" />	
    <bean id="applicationResource" class="dash.pojo.ApplicationResource" />
    
    <bean id="awardDao" class="dash.dao.AwardDaoJPA2Impl"/>	
    <bean id="awardService" class="dash.service.AwardServiceDbAccessImpl" />	
    <bean id="awardResource" class="dash.pojo.AwardResource" />
    
    <bean id="childDao" class="dash.dao.ChildDaoJPA2Impl"/>	
    <bean id="childService" class="dash.service.ChildServiceDbAccessImpl" />	
    <bean id="childResource" class="dash.pojo.ChildResource" />
    
    <bean id="courseworkDao" class="dash.dao.CourseworkDaoJPA2Impl"/>	
    <bean id="courseworkService" class="dash.service.CourseworkServiceDbAccessImpl" />	
    <bean id="courseworkResource" class="dash.pojo.CourseworkResource" />
    
    <bean id="employmentDao" class="dash.dao.EmploymentDaoJPA2Impl"/>	
    <bean id="employmentService" class="dash.service.EmploymentServiceDbAccessImpl" />	
    <bean id="employmentResource" class="dash.pojo.EmploymentResource" />
    
    <bean id="scholarshipDao" class="dash.dao.ScholarshipDaoJPA2Impl"/>	
    <bean id="scholarshipService" class="dash.service.ScholarshipServiceDbAccessImpl" />	
    <bean id="scholarshipResource" class="dash.pojo.ScholarshipResource" />
    
    <bean id="surfApplicationDao" class="dash.dao.SurfApplicationDaoJPA2Impl"/>	
    <bean id="surfApplicationService" class="dash.service.SurfApplicationServiceDbAccessImpl" />	
    <bean id="surfApplicationResource" class="dash.pojo.SurfApplicationResource" />
    
    <bean id="universityDao" class="dash.dao.UniversityDaoJPA2Impl"/>	
    <bean id="universityService" class="dash.service.UniversityServiceDbAccessImpl" />	
    <bean id="universityResource" class="dash.pojo.UniversityResource" />      
         	
	<bean id="userDao" class="dash.dao.UserDaoJPA2Impl"/>	
    <bean id="userService" class="dash.service.UserServiceDbAccessImpl" />	
    <bean id="userResource" class="dash.pojo.UsersResource" />
    
    <bean id="volunteerDao" class="dash.dao.VolunteerDaoJPA2Impl"/>	
    <bean id="volunteerService" class="dash.service.VolunteerServiceDbAccessImpl" />	
    <bean id="volunteerResource" class="dash.pojo.VolunteerResource" />
    
    <bean id="aclController" class="dash.security.GenericAclController"/>
    
	<bean id="dashDS" class="org.springframework.jndi.JndiObjectFactoryBean" scope="singleton">
	    <property name="jndiName" value="java:comp/env/jdbc/dashDB" />
	    <property name="resourceRef" value="true" />        
	</bean>
</beans>